$yellow: rgb(244, 247, 180);
$darkBlue: rgb(42, 69, 112);


// TODO: Move me into a style!
.box {
  display: block;
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.25);

  > div {
    padding: 10px;
  }

  &--no-pad {
    > div {
      padding: 0;
    }
  }


  h1 {
    display: block;
    background: $darkBlue;
    margin: 0;
    padding: 10px;
    color: #eee;
  }
}