
[data-theme] {
  // helpers for allowing setting csss variables in hsl
  $neutral-background: hsl(220, 2, 96);
  $sidebar-background: hsl(218, 22%, 27%);
  $sidebar-text-color: hsl(220, 16, 76);
  $main-background: hsl(206, 54%, 97%);
  $main-bold-color: hsl(184, 48%, 52%);

  // base colors
  --neutral-background: #{$neutral-background};


  // base styles
  --nk-background-color: var(--neutral-background);
  --nk-sidebar-background-color: #{$sidebar-background};
  --nk-sidebar-text-color: #{$sidebar-text-color};
  --nk-navbar-text-color: #444;
  --nk-main-background-color: #{$main-background};
  --nk-datatable-header-background: #fff;
  --nk-primary-color: #{$main-bold-color};
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column,
  &.col {
    flex-direction: column;
  }

  &.grow {
    flex: 1;
  }

  &.between {
    justify-content: space-between;
  }
}

.flex-grow {
  flex: 1;
}
