
[data-theme] {
  // helpers for allowing setting csss variables in hsl
  $neutral-background: hsl(220, 2, 96);


  // base colors
  --neutral-background: #{$neutral-background};


  // base styles
  --nk-background-color: var(--neutral-background);
  --nk-navbar-color: #ccc;
  --nk-navbar-text-color: #444;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column,
  &.col {
    flex-direction: column;
  }

  &.grow {
    flex: 1;
  }
}

.flex-grow {
  flex: 1;
}
